@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
  font-size: 10px;
}

html{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

*, *:before, *:after{
  box-sizing: inherit;
  margin: inherit;
}