@use '../../../styles/base.scss' as *;

.aside{
    &_list{
        width: 250px;
        height: 100%;
        font-size: 2rem;
        line-height: calc(2rem*1.25);
        font-weight: 500;
        background-color: $bg-secondary;
        list-style-type: none;
        padding: 0;
        li{
            width: 100%;
            height: 5rem;
            padding: 1rem, 0;
            color: $text-secondary;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: darken($bg-secondary, 10%);
                color: darken($text-secondary, 10%);
            }
            a{
                padding: 1rem;
                width: 100%;
                display: block;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}